<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../CSS/bootstrap.min.css">
	<link rel="stylesheet" href="../CSS/style.css">

	<title>Ruang ITATS</title>
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary pt-3 pb-3">
		<div class="container">
			<a class="navbar-brand" href="index.html">Ruang ITATS_</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item">
						<a class="nav-link" href="#">Program</a>
					</li> -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-expanded="false">
							Konten
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Program 1</a>
							<a class="dropdown-item" href="#">Program 2</a>
							<a class="dropdown-item" href="#">Program Lainnya</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Tentang Kami</a>
					</li>
				</ul>
				<span class="navbar-text">
					<a href="Login.html" class="btn btn-success">Login</a>
					<img src="../img/273-2735205_transparent-login-icons-png-icon-png-download.png"
						style="width: 30px; height: 30px;">
				</span>
			</div>
		</div>
	</nav>

	<div class="main">
		<!-- <div class="main-container">
			<h1>Ruang ITATS_</h1>
			<div class="section-tittle">
				<h2>Belajar Sukses Disini!</h2>
			</div>
		</div> -->
		<div class="jumbotron" style="height: 600px; padding-left: 70px;">
			<h1 style="padding-top: 75px;">Ruang ITATS_</h1>
			<h2>Uji Kemampuanmu Disini!</h2>
			<div class="border-bottom" style="margin-bottom: 20px; width: 500px;">
				<p class="lead">Web Kuis untuk Menemani Kuliahmu.</p>
			</div>
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div>
		<center>
			<div class="contents">
				<div class="container">
					<div class="row">
						<div class="col-sm pb-5">
							<h1>TESTING BOSSS</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<div class="card" style="width: 32rem; height: 20rem;">
								<img src="..." class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text" style="width: 20rem;">Some quick example text to build on the
										card title and make up
										the
										bulk of the card's content.</p>
									<a href="#" class="btn btn-success">Go somewhere</a>
								</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="card" style="width: 32rem; height: 20rem;">
								<img src="..." class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text" style="width: 20rem;">Some quick example text to build on the
										card title and make up
										the
										bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>
				</div>
		</center>
		<!-- <div class="section-title">
				<h3>Hidangan</h3>
			</div>
			<div class="contents-item">
				<img src="img/Contoh-COOKIES-Logo.png" widht="240px" height="259px">
				<p>Aneka Cookies</p>
			</div>
			<div class="contents-item">
				<img src="img/Contoh-CUPCAKE-Logo.jpg" widht="240px" height="259px">
				<p>Aneka Cupcake</p>
			</div>
			<div class="contents-item">
				<img src="img/Contoh-SOFTBREAD-Logo.jpg" widht="240px" height="259px">
				<p>Aneka Roti Lembut</p>
			</div> -->
	</div>
	<!-- <div class="contact-form">
			<div class="section-title">
				<h3>Hubungi Kami</h3>
			</div>
			<p>Email(wajib diisi)</p>
			<input>
			<p>Pesan(wajib diisi)</p>
			<textarea></textarea>
			<p>*Bidang Wajib Diisi</p>
			<input class="contact-submit" type="submit" value="kirim">
		</div> -->
	</div>

	<div class="footer">
		<div class="company">
			<p>Ruang ITATS_</p>
		</div>
	</div>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->


</body>

</html>